h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.images{
    width:100px;
    height: 100px;
}
.itemcontainer{
    display: flex;
    flex-wrap: wrap;
}
.item{
    display: flex;
    width: 700px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.top{
    display: flex;
    justify-content: space-between;
}